{% extends 'resume/wrapper.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div>
        <div>
            <h2>My Sites</h2>
            <ul>
                <li>
                    <a class="" href="https://www.linkedin.com/in/alexander-mellor/">Linkedin</a>
                </li>
                <li>
                    <a class="" href="https://stackoverflow.com/users/9499307/miwwge">Stackoverflow</a>
                </li>
                <li>
                    <a class="" href="https://github.com/mellora">Github</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
